
// colors
//$main-color: #5fbae1
//$color-main: #7ed8ff
$color-main: #05C4FF
$color-platform-main: #7ed8ff

$color-main-dark: #00C2FF
$color-main-light: #8DE3FE

$color-border: rgba(95, 186, 225, 77%)
$color-grey-dark: #626262
$color-grey-light: #f2f2f2
$color-white: #fff
$color-black: #000


$color-website-main: #05C4FF
$color-website-second: #444444



//$color-second: #575757
$color-second: #444444

// fonts
$font-size: 1.7rem


// components
$appHeader-height: 6.5rem
$appMenuBar-width: 12rem



//Other items
$locations: 5
$box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.10), 0 6px 14px 0 rgba(0, 0, 0, 0.10), 0 25px 25px 0 rgba(0, 0, 0, 0.09), 0 56px 33px 0 rgba(0, 0, 0, 0.05), 0 99px 40px 0 rgba(0, 0, 0, 0.01), 0 155px 43px 0 rgba(0, 0, 0, 0.00)
